body {
    background:url(night.jpg) no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size: cover;
    background-size: 1440px;
}
.nav-link {
    margin-top: -20px;
}

.homelink {
    margin-top: -40px;
    margin-left: 730px;
    font-size: 40px;
 
    color: black;
    padding-right: 20px;
}

.aboutlink {
    font-size: 40px;
    margin-top: -40px;
    color: black;
    padding-right: 20px;
}

.projectslink {
    font-size: 40px;
    margin-top: -40px;
    color: black;

}

.navbar {
   padding: 45px;
    background-color: rgb(248, 218, 242);
    font-style: italic;
}
 
 .iconone {
     margin-left: 1080px;
 }
 
 .footer {
     padding: 22px;
     background-color:#B8B8B8;
 }