body {
    background:url(night.jpg) no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size: cover;
    background-size: 1440px;
}

.resume {
    text-align: center;
    font-size: 20px;
    padding-top: 1%;
    padding-bottom: 2%;
}

.skills {
    text-align: center;
    padding-top: 2px;
}

.nav-link {
    margin-top: -20px;
}
/* 
.homelink {
    margin-top: -40px;
    margin-left: 730px;
    font-size: 40px;
 
    color: black;
    padding-right: 20px;
}

.aboutlink {
    font-size: 40px;
    margin-top: -40px;
    color: black;
    padding-right: 20px;
}

.projectslink {
    font-size: 40px;
    margin-top: -40px;
    color: black;

} */

.homelinkindex {
    margin-top: -15px;
    font-size: 40px;
    color: black;
    margin-left: 755px;
    
}

.aboutlinkindex {
    font-size: 40px;
    margin-top: -15px;
    color: black;
    margin-left: 695px;
   
}

.projectslinkindex {
    font-size: 40px;
    margin-top: -15px;
    color: black;
    margin-left: 635px;

}
.navbarone {
    padding: 20px;
    background-color: rgb(248, 218, 242);
    font-style: italic;
}

/* .navbar {
   padding: 45px;
    background-color: rgb(248, 218, 242);
    font-style: italic;
} */

.email-link {
    /* margin-top: 60px; */
    text-align: center;
    font-size: 20px;
    /* padding-top: -15px; */
}

.icontwo{
    margin-left: 560px;
    margin-top: 15px;
   
}

.iconthree{
    /* height: 100px; */
    margin-left: -10px;
    margin-bottom: 1px;
    margin-top: 2.7%;
}

.footer {
    /* height: 50px; */
    padding: 15px !important;
    background-color:#B8B8B8;
}

.containerone {
    background-color: #215;
    padding-top: 3%;
    padding-bottom: 5%;
    margin-top: 4.5%;
    opacity: 80%;
    margin-bottom: 50px;
    padding-right: 20px;
    padding-left: 20px;
}


.containertwo {
    background-color: rgb(233, 229, 229);
    padding-top: 2%;
    padding-left: 2px;
    padding-right: 20px;
    margin-top: 7px;
}

.containerthree {
    padding-top: 13px;
    padding-left: 30px;
    padding-right: 30px;
}

.containerfour {
    width: 500px;
    margin-left: 30px;
    margin-top: 25px;
    padding-bottom: 3px;
    padding-top: 3px;
    background-color: rgb(233, 229, 229);
    padding-bottom: 1.5%;
}

.containerfive {
    margin-top: 25px;
    padding-top: 3px;
    background-color: rgb(233, 229, 229);
    width: 500px;
  padding-bottom: 1.5%;
}
    
.rows {
    text-align: center;
}

h3 {
    text-align: center;
}

.firstcontainer {
    margin-top: 50px;
    padding-top: 2px;
    padding-right: 36px;
    padding-bottom: 12px;
    background-color: rgb(149, 161, 175);
    opacity: 80%;
}

.secondcontainer {
    margin-top: 40px;
    padding-bottom: 23px;
    padding-top: 20px;
    background-color: white;
    margin-left: 13px;
}

.rowone {
    margin-top: 12px;
    margin-left: 15px;
}

.rowtwo {
    margin-top: 48px;
}

.myprojs {
    padding-top: 6px;
    text-align: center;
    /* text-shadow: 2px 2px 2px rgb(206, 201, 201); */

}

/* .carousel-size {
    width: 100px;
    height: 600px;
} */


/* .carousel-item img{
    height: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 40px; 
    padding-right: 200px;
    padding-right: 500px;
    justify-content: center;
} */

.carousel-item {
    margin-top: 75px;
}

.projurl {
    width: 70px;
    margin-left: 15px;
    background-color: rgb(144, 66, 199) !important;
    padding-top: 8px;
  height: 45px;
}

.giturl {
    margin-left: -15px;
    background-color: rgb(144, 66, 199) !important;
    padding-top: 8px;
  height: 45px;
  /* margin-left: 40px; */
}

/* .kaitlin {
    font-size: 150px;
} */
    
.projcard {
    margin-top: 50px;
    height:450px;
    max-height: 600px;
    margin-bottom: 40px;
}

.fa-desktop {
    margin-left: 222px;
    margin-top: 15px;
    padding-bottom: 2px;
}

.fa-database {
    margin-top: 15px;
    margin-left: 230px;
    padding-bottom: 2px;
}

.projectcontainer {
    min-height: 450px;
    max-height: 500px;
 
}
.checkrows {
    padding-bottom: 1px;
}

.beli {
    margin-left: 20px;
}

/* .inner-item {
    text-align: center;
    img {
        margin: 0 auto;
    }
} */
/* .btn-primary {
        background-color: rgb(144, 66, 199) !important;
        padding-top: 8px;
      height: 45px;
  
} */
/* .rose {
    width: -100px;
    height: 300px;
}     */
    

